.popup__title{
  padding-bottom: 54px;
  margin: 0;
  font-weight: 900;
  line-height: 29px;
  font-size: 24px;
  color: black;
}

@media (max-width: 535px){
  .popup__title{
    padding-bottom: 75px;
    line-height: 22px;
    font-size: 18px;
  }
}