.card{
  background-color: white;
  border-radius: 10px;
  width: 100%;
  min-height: 361px;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 1fr min-content;
  grid-template-areas:
    'image image'
    'city like';
}

@media screen and (max-width: 980px){
  .card{
    min-height: 37%;
  }
}

@media screen and (max-width: 320px){
  .card{
    min-height: 361px;
  }
}