.card{
  background-color: white;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 1fr min-content;
  grid-template-areas:
    'image image'
    'city like';
}